@use "../../presets" as *;

.main {
    width: 96%;
    margin-inline: auto;
    padding-block: 25px;
    background-color: $color-primary;
    color: $color-black;

    .promo {
        display: flex;
        flex-direction: column;
        row-gap: 25px;
        width: 100%;
        padding-inline: 10px;
        margin-block: 50px;

        &__item {
            display: flex;
            align-items: center;
            height: 150px;
            padding: 20px;
            background-color: $color-secondary;
        }
        
        &__container {
            flex-basis: 70%;
            color: $color-white;
        }

        &__title {
            font-size: 18px;
            font-weight: 700;
        }

        &__info {
            max-width: 17ch;
            margin-block: 15px;
            font-size: 12px;
            font-weight: 300;
        }

        &__input {
            width: 70%;
            padding: 5px 10px;
            outline: none;
            border: none;
            border-radius: 30px;
            font-size: 14px;

            &::placeholder {
                color: $color-placeholder;
                padding-left: 15px;
            }
        }

        &__link {
            display: block;
            text-align: center;
            width: 140px;
            height: 30px;
            font-size: 12px;
            line-height: 26px;
            background-color: $color-secondary;
            color: $color-white;
            border: 2px solid $color-white;
            border-radius: 30px;
            transition: all .5s;

            &:focus,
            &:hover {
                background-color: $color-white;
                color: $color-secondary;
            }
        }

        &__image {
            max-width: 30%;
        }
    }

    .partners {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 100%;
        padding-inline: 10px;
        margin-block: 50px;
        
        &__item {
            flex-basis: 33%;
            background-color: $color-white;
            padding: 10px 5px;
            border: 1px solid $color-primary;
        }

        &__link {
            display: block;
            text-align: center;
        }

        &__logo {
            width: 70%;
        }
    }
}

@media screen and (min-width: 901px) and (max-width: 1500px) {
    .main {
        .promo {
            display: grid;
            grid-template-rows: repeat(2, 1fr);
            grid-template-columns: 1fr;
            row-gap: 0px;
            width: 58%;
            padding-inline: 0px;
            margin-block: 100px;
    
            &__item--bonuses-gifts {
                margin-bottom: 25px;
            }
        }
    }
}

@media screen and (min-width: 901px) {
    .main {
        width: 100%;
        padding-block: 80px;
    
        .promo {
            flex-direction: row;
            justify-content: space-between;
            row-gap: 0;
            column-gap: 50px;
            width: 58%;
            padding-inline: 0;
            margin-block: 100px;
            margin-inline: auto;
    
            &__item {
                min-width: 410px;
                flex-basis: 48%;
                height: 212px;
                padding: 40px;
            }
            
            &__container {
                flex-basis: auto;
            }
    
            &__title {
                line-height: 21px;
            }
    
            &__info {
                margin-block: 25px;
                font-size: 14px;
                font-weight: 400;
                line-height: 20px;
            }
    
            &__input {
                width: 225px;
                padding: 9.5px 25px;
                outline: none;
                border: none;
                border-radius: 30px;
                font-size: 14px;
    
                &::placeholder {
                    padding-left: 0;
                    font-size: 14px;
                    line-height: 16.4px;
                    color: $color-placeholder;
                }
            }
    
            &__link {
                width: 170px;
                height: 35px;
                font-size: 14px;
                line-height: 31px;
            }
    
            &__image {
                max-width: 100%;
                margin-left: auto;
            }
        }
    
        .partners {
            display: grid;
            grid-template-rows: repeat(3, 1fr);
            grid-template-columns: repeat(4, 1fr);
            width: 58%;
            padding-inline: 0px;
            margin-block: 0px;
            margin: 0 auto 70px auto;
            
            &__item {
                flex-basis: auto;
            }
            
            &__link {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 24px 0px;
            }
    
            &__logo {
                width: 149px;
            }
        }
    }
}